.dev
project/.sdk
project/application/.godot
project/library/bin
project/library/obj
support/utils/compiler/bin
support/utils/compiler/obj
pid
support/ide/*.exe
support/utils/compiler/.sdkfiles
support/ide/GodotSharp
support/library/bin
support/library/obj